<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094286022489-l69v0m1toh22971ovgq3p2t8igoouv4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094286022489-l69v0m1toh22971ovgq3p2t8igoouv4o</string>
	<key>API_KEY</key>
	<string>AIzaSyCVGOOfZiHEFSDOXmqjE-R_Hbzfm9T8Rv4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094286022489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chur.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chur-103fc</string>
	<key>STORAGE_BUCKET</key>
	<string>chur-103fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094286022489:ios:a09f15c316e339ee275e48</string>
</dict>
</plist>